body {
  background: rgb(0, 7, 18);
}

main {
  padding: 1% 4%;
}

.app-container {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  z-index: 9999999999999999999;
  pointer-events: none !important;
}

.pbt{
  padding: 15px 45px;
}

/* Home */
.homeContainer{
  color: white;
  display: flex;
  width: 80%;
  height: 80vh;
  align-items: center;
  z-index: 1;
}

.homeLeft{
  flex-basis: 60%;
  margin-top: -150px;
  color: rgb(208, 205, 205);
  font-size: 50px;
}

.homeRight h1{
  font-size: 50px;
}

.homeRight p{
  font-size: 50px;
  color: rgb(123, 121, 121);
  font-weight: 500;
}

.textGredient{
  background: linear-gradient(90deg, #F87516 0%,#5E11FF 40%, #5E11FF 100%); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
}

.homeRight p{
  font-size: 17px;
}

.userNum{
  text-align: center;
  color: aliceblue;
}


/* Review */
.reviewContainer{
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
  z-index: 1;
}

.review{
  display: flex;
  align-items: center;
  line-height: 35px;
  color: white;
}

/* Magic */
.magicContainer{
  display: flex;
  color: white;
  justify-content: space-between;
  margin: 100px 0;
  line-height: 30px;
  z-index: 1;
}

.magicLeft{
  flex-basis: 60%;
}

.btnme{
  background: linear-gradient(90deg, #F87516 0%,#5E11FF 40%, #5E11FF 100%);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
}

/* Apply */
.applyContainer{
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 50px 0;
}

.apply{
  flex-basis: 48%;
  background-image: linear-gradient(rgb(0, 0, 5), rgb(20, 3, 63));
  padding: 30px;
  border-radius: 20px;
  height: 50%;
}

.apply img{
  width: 100%;
}

.aright{
  margin-top: 80px;
}

/* Browse */
.browserContainer{
  color: white;
  text-align: center;
  background-image: linear-gradient(rgb(0, 0, 5), rgb(20, 3, 63));
  padding: 60px 0;
  border-radius: 20px;
}


/* Feature */
.plugin{
  text-align: center;
  color: white;
  margin: 80px 0;
}

.pCon{
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
}

.pItem{
  background-image: linear-gradient(rgb(0, 0, 5), rgb(20, 3, 63));
  text-align: left;
  flex-basis: 30%;
  padding: 20px;
  border-radius: 20px;
}

/* Footer */
.footer{
  display: flex;
  justify-content: space-between;
  color: antiquewhite;
  padding: 20px;
  margin: 0;
  background-image: linear-gradient(90deg, #F87516 0%,#5E11FF 40%, #5E11FF 100%);
}


@media only screen and (max-width: 600px) {
  .pbt{
    display: none;
  }

  .homeContainer{
    display: inline;
    flex-direction: column;
    text-align: center;
    margin: auto;
    
  }

  .homeLeft{
    flex-basis: 50%;
    margin-top: 40px;
    
  }

  .homeRight{
    margin-bottom: 50px;
  }

  .reviewContainer{
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .magicContainer{
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .browserContainer img{
    width: 90%;
  }

  .applyContainer{
    flex-direction: column;
  }

  .pCon{
    flex-direction: column;
    gap: 20px;
  }

  .footer{
    flex-direction: column-reverse;
    text-align: center;
  }
}